// 黄色 用于信息提示的颜色
$A10: #ffce87;
$A30: #ffc774;
$A40: #ffb74c;
$A50: #ffaf38;
$A60: #e59d32;
$A80: #b27a27;
$A90: #996921;

// B 序号的蓝色是品牌专色，也是常用颜色，通常在用户界面中作为重要组件颜色使用。
$B10: #8acaf9;
$B30: #77c2f8;
$B40: #50b0f6;
$B50: #3da8f5;
$B60: #3686dc;
$B80: #2a75ab;
$B90: #246493;

// 针对正文和图标，占位符，分割线、背景等元素和组件，根据不同的使用场景应使用恰当的正文灰色。 Teambition 使用了以下 4 类 6 款灰色
$G20: #ffffff;
$G30: #f5f5f5;
$G50: #e5e5e5;
$G70: #cccccc;
$G80: #a6a6a6;
$G90: #808080;
$G100: #383838;

// GN 序号的绿色属于认可专色，通常应用于一些操作确认，状态确认等组件或场景中。
$GN10: #acde8c;
$GN30: #9ed979;
$GN40: #83ce53;
$GN50: #75c940;
$GN60: #69b439;
$GN80: #518c2c;
$GN90: #467826;


//R 序号的红色是警示专色，通常应用于异常危险操作以及警告提醒等组件或场景。
$R10: #ff958b;
$R30: #ff8478;
$R40: #ff6051;
$R50: #ff4f3e;
$R60: #e54637;
$R80: #B2372b;
$R90: #992f25;

// P 序号的紫色与 T 序号的青色 均属于扩充专色，通常与其它颜色一起搭配使用。
$T10: #82d7d1;
$T30: #212525;
$T40: #44c3ba;
$T50: #2fbdb3;
$T60: #2aa9a0;
$T80: #20837c;
$T90: #1c716b;


$P10: #aeb1de;
$P30: #a1a4d9;
$P40: #868bce;
$P50: #797ec9;
$P60: #6c71b4;
$P80: #54578c;
$P90: #484b78;